# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Environment Variables
.env

# OS-specific
.DS_Store
Thumbs.db
